<app-header titulo="Grid"></app-header>

<ion-content padding fullscreen>

  <ion-grid fixed>

    <!--<ion-row>

      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        Hola item : {{ i+1 }}
      </ion-col>
   
      
    </ion-row>
     -->
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        <ion-card>
          <ion-img src="/assets/shapes.svg">
            
          </ion-img>
          <ion-card-header>
            <ion-card-subtitle>Card subtitle</ion-card-subtitle>
            <ion-card-title>Card title</ion-card-title>
          </ion-card-header>
          <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eum animi, voluptatibus quibusdam eaque aliquid voluptates voluptas et quo quos odio, porro iusto autem error ipsam rerum quaerat nisi omnis.</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
