<app-header titulo="Card"></app-header>
<ion-content padding>
  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Ionic Serve</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon color="medium" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium consequuntur doloribus ducimus quasi eius labore obcaecati, impedit porro sit unde. Animi, maiores aspernatur quidem incidunt ullam vel dignissimos blanditiis beatae?
    </ion-card-content>

  </ion-card>

  <ion-card>

    <!-- #se carga cuando es necesario -->
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, accusantium. Adipisci cum quaerat voluptatum ad animi doloribus debitis asperiores id repellendus mollitia. Aliquid, iste adipisci in esse expedita aut! Harum.
    </ion-card-content>
    
  </ion-card>

</ion-content>
